---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="About Me">
    <h1>About Me</h1>
    <p>
        Hi, I'm Mari. I'm a second-year student at UTS, Sydney, doing a double
        degree in IT and Business, majoring in Networking & Cybersecurity and
        Finance. Outside of tech, I like workign out and reading novels,
        especially fantasy.
    </p>

    <article>
        <h2>Contact</h2>
        <p>Feel free to send an email my way, or hit me up on the socials</p>
        <ul>
            <li>
                <a target="_blank" href="https://github.com/Christin6">Github</a
                >
            </li>
            <li>
                <a href="mailto:maricelchristina0409@gmail.com"
                    >Email: maricelchristina0409@gmail.com</a
                >
            </li>
            <li>
                <a
                    target="_blank"
                    href="https://www.linkedin.com/in/maricel-christina/"
                    >Linkedin</a
                >
            </li>
        </ul>
    </article>

    <article>
        <h2>Tools</h2>
        <ul>
            <li>
                This website was built using <a
                    target="_blank"
                    href="https://astro.build">Astro</a
                > and hosted on <a target="_blank" href="https://www.vercel.com"
                    >Vercel</a
                >
            </li>
            <li>Coding: <a href="https://zed.dev/"></a> Zed Editor</li>
        </ul>
    </article>
</BaseLayout>
