---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout pageTitle="Projects">
    <h1>My Projects</h1>
    <p>This is a singular, standalone page built with Astro!</p>
</BaseLayout>
