---
const { pageTitle } = Astro.props;
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{pageTitle}</title>
    </head>
    <body>
        <header class="blog-header">
            <a href="/" class="nav-link">
                <strong style="font-size: large;"> Maricel C </strong>
            </a>
            <nav class="nav-bar">
                <a href="/" class="nav-link">
                    <img
                        class="nav-icon"
                        src="/icons/internet_connection_wiz-3.png"
                    />
                    Home
                </a>
                <a href="/projects" class="nav-link">
                    <img class="nav-icon" src="/icons/console_prompt-0.png" />
                    Projects
                </a>
                <a href="/about" class="nav-link">
                    <img class="nav-icon" src="/icons/modem-4.png" />
                    About
                </a>
            </nav>
        </header>

        <hr class="header-border" />

        <main class="content-container">
            <slot />
        </main>
    </body>
</html>
